@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Лабораторная работа 4</h1>
<h2>Список</h2>
<ol type="A">
	@for (int i = 1; i < 3; i++)
	{
		<li>элемент @i списка</li>
	}
</ol>
<h2>Форма</h2>
<form method="post">
	<div class="d-flex mb-3">
		<div class="w-25"></div>
		<div class="d-flex flex-column">
			<div>
				<input type="checkbox" name="checkbox1"> Чек-бокс 1
			</div>
			<div>
				<input type="checkbox" name="checkbox2"> Чек-бокс 2
			</div>
		</div>
	</div>
	<div class="d-flex mb-3">
		<div class="w-25"></div>
		<div>
			<input type="radio" name="radioGroup" value="1"> Радио-1
			<input type="radio" name="radioGroup" value="2"> Радио-2
			<input type="radio" name="radioGroup" value="3"> Радио-3
		</div>
	</div>
	<div class="d-flex mb-3">
		<div class="d-flex flex-column w-25 justify-content-around">
			<label for="login">Логин:</label>
		</div>
		<div class="d-flex flex-column w-100">
			<input type="text" class="form-control" name="login" placeholder="Введите имя">
		</div>
	</div>
	<div class="d-flex mb-3">
		<div class="d-flex flex-column w-25 justify-content-around">
			<label for="password">Пароль:</label>
		</div>
		<div class="d-flex flex-column w-100">
			<input type="password" class="form-control" name="password" placeholder="Введите пароль">
		</div>
	</div>
	<div class="d-flex mb-3">
		<select name="seletList" asp-items="@ViewData["Lst"] as SelectList"></select>
	</div>
	<button type="submit" class="btn btn-primary">Отправить</button>
</form>

