
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a asp-action="Index" asp-controller="Cart" class="navbar-text ml-auto">
    00,0 руб <i class="fas fa-shopping-cart nav-color"></i> (0)
</a>